body {
  font-family: 'Rubik', sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

/* GLOBAL CLASSES */

.container {
  width: 1280px;
  max-width: 100%;

  margin: 0 auto;
  padding: 0 20px;
}

.button {
  display: inline-flex;
  width: fit-content;
  font-size: 16px;
}

.button--primary {
  color: #fff;
  background: #f53855;
  font-weight: 700;
  border-radius: 10px;
  padding: 15px 70px;
  box-shadow: 0 30px 54px -8px rgba(245, 56, 56, 0.35);
  transition: background-color 0.4s;
}

.button--primary:hover {
  background-color: #f41235;
}

.button--link {
  color: #0b132a;
  font-weight: 500;
}

.button--link:hover {
  color: #f53855;
}

.button--ghost {
  background-color: transparent;
  border: 1px solid #f53855;
  padding: 10px 45px;
  border-radius: 50px;
  color: #f53855;
  font-weight: 500;
}

.header {
  padding: 40px 0;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
  width: 150px;
}

.header-nav__list {
  display: flex;
  gap: 40px;
}

.header-nav__link {
  transition: color 300ms;
}

.header-nav__link:hover {
  color: #f53855;
}

.header-buttons {
  display: flex;
  gap: 20px;
  align-items: center;
}
