        body 
        {
            font-family: "Rubik", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            
        }

        .container {
            height: 90px;
            display: flex;
            width: 1440px;
            max-width: 100%;
            justify-content: space-around;
            margin: 0 auto;
            align-items: center;
            
        }

        nav {
            
        }

        ul {
            display: flex;
            justify-content: space-between;
            gap: 40px;
        }

        .botoes {
            display: flex;
            gap: 30px;
        }

        #botao1 {
            border: none;
            background-color: transparent;
            font-weight: 500;
            color: #0B132A;
            cursor: pointer;
        }


        #botao2 {
            padding: 13px 45px;
            border: 1px solid #F53855;
            border-radius: 50px;
            cursor: pointer;
            color: #F53855;
            background-color: transparent;
        }

        li {
            list-style: none;
            color: #4F5665;
            cursor: pointer;
            font-size: 16px;
        }

        li:hover {
            color: #F53855;
        }

        #logo {
            width: 150px;
            height: 40px;

        }

        a {
            text-decoration: none;
        }

        