        body 
        {
            font-family: "Rubik", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
        }

        h1 {
            font-weight: 500px;
            font-size: 50px;
        }

        .header .container {
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-top: 30px;

        }

        .container {
            width: 1440px;
            max-width: 100%;
            margin: 0 auto;
            padding: 0 20px;
            
        }

        nav {
            
        }

        ul {
            display: flex;
            justify-content: space-between;
            gap: 40px;
        }

        .botoes {
            display: flex;
            gap: 30px;
        }

        .botao1 {
            border: none;
            background-color: transparent;
            font-weight: 500;
            color: #0B132A;
            cursor: pointer;
        }


        .botao2 {
            padding: 13px 45px;
            border: 1px solid #F53855;
            border-radius: 50px;
            cursor: pointer;
            color: #F53855;
            background-color: transparent;
        }

        li {
            list-style: none;
            color: #4F5665;
            cursor: pointer;
            font-size: 16px;
        }

        li:hover {
            color: #F53855;
        }

        #logo {
            width: 150px;
            height: 40px;

        }

        a {
            text-decoration: none;
        }
        

        .textoPrincipal {
            width: 550px;
            max-width: 100%;
            display: grid;
            flex-direction: column;
            gap: 20px;

        }
        .textoPrincipal h1 {
            line-height: 1.1;

        }

        .textoPrincipal p {
            margin-top: 20px;
            margin-bottom: 50px;
            color: #4F5665;
            font-weight: 500;
        }

        .imagemPrincipal {
            width: 600px;
            max-width: 100%;
        }

        .hero .container {
            display: flex;
            align-items: center;
            gap: 40px;
            margin-top: 80px;
        }

        .getstarted {
            width: fit-content;
            display: inline-flex;
            background-color: #F53838;
            color: #FFFFFF;
            border: none;
            border-radius: 10px;        
        }

        .textoPrincipal .getstarted {
            padding: 15px 80px;
            font-weight: 700;
        }

        .heroLast .container {
            display: flex;
            justify-content: space-around;
            margin-top: 150px;
        }

        .infoHero {
            display: flex;
            gap: 35px;
            align-items: center;
        }

        .infoHero .image {
            width: 55px;
        }

        .infoHeroText .negrito {
            font-weight: 700;
            color: #0B132A;
            font-size: 25px;
        }

        .infoHeroText .normal {
            font-weight: 400;
            color: #4F5665;
            font-size: 20px;
        }


        